body {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    color: #7a3b28;
    text-align: center;
  }
  #contenedor-izquierdo {
	background-color: rgb(58, 160, 219);
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}
#contenedor-derecho {
	background-color: rgb(58, 160, 219);
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}
.contenedor-componente {
	flex-direction: column;
    flex-wrap: wrap;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 30%;
	max-height: 30%;
	z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background: linear-gradient( rgb(255, 94, 0), rgb(255, 255, 14));
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #1d5314;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}